.agencyExperience {
  background: $bodyHeader;
  font-family: Mulish;
  font-style: normal;
  z-index: 12;
  position: relative;
  .experience-title {
    font-weight: bold;
    font-size: 32px;
    color: $blackColor;
    padding: 60px 0px;
  }
}
.experience-section {
  margin-top: 70px;
  font-family: Mulish;
  font-style: normal;
  .info {
    ul {
      border-right: 1px solid $line;
      li {
        list-style: none;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.3px;
        padding: 22px;
        a {
          color: $buttonGrey;
          text-decoration: none;
          .active {
            color: $whiteColor;
            background: $buttonGrey;
            width: 160px;
            height: 40px;
            border-radius: 32px;
            text-align: center;
            padding: 11px;
          }
        }
      }
    }
  }
  .experience-numbers {
    h6 {
      list-style: none;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.3px;
      padding: 22px;
    }
    ul {
      list-style: none;
      font-weight: bold;
      font-style: normal;
      :last-child {
        border-right: none;
      }
      li {
        border-right: 1px solid $experienceBorder;
        color: $blackColor;
        padding: 5px 55px;
        .score {
          font-size: 48px;
          letter-spacing: -4px;
        }
      }
    }
  }
  .labels {
    ul {
      li {
        list-style: none;
        float: left;
        border: 0px;
        padding: 10px;
        button {
          border-radius: 16px;
          border: 0px;
          background: $demandBoxButton;
          width: 75px;
          height: 34px;
        }
      }
    }
  }
}
.experience-references {
  font-family: Mulish;
  font-style: normal;
  ul {
    padding: 50px;
    li {
      list-style: none;
      font-weight: bold;
      font-size: 20px;
      color: $blackColor;
      button {
        border-radius: 16px;
        border: 1px solid $buttonGrey;
        background: $whiteColor;
        width: 75px;
        height: 34px;
        font-size: 14px;
      }
    }
  }
  .reference-items {
    background: $bodyHeader;
    padding: 20px 10px;
    border-radius: 16px;
    border: 0px;
    ul {
      padding: 0px;
      li {
        font-size: 14px;
        list-style: none;
        float: left;
        padding: 0px 30px;
        img {
          padding: 0px 5px;
        }
      }
    }
    h6 {
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      color: $referencesItems;
      padding: 5px 24px;
    }
  }
  .reference-box-article {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 30px;
  }
  .reference-box-content {
    font-size: 14px;
    color: $blackColor;
    float: left;
    padding: 10px 30px;
  }
  .reference-box-buttons {
    ul {
      padding: 5px 15px;
      li {
        padding: 5px 10px;
        button {
          background: $demandBoxButton;
          border: 0px;
          font-size: 14px;
        }
      }
    }
  }
}
