.footer {
  height: 88px;
  align-items: center;
  background: $footerGrey;
  padding: 10px;
  border: 1px solid #e2e5e6;
  position: relative;
  .logo-section {
    img {
      margin: 0;
    }
  }
  .middle-section {
    margin: 0;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $blackColor;
    text-align:justify;
  }
  .footer-circle {
    ul {
      right: 0%;
      margin: 0;  
      li {
        padding: 0px 8px;
        float: right;
        list-style: none;
      }
    }
  }
}
