.header {
  background: rgba(255, 255, 255, 0.1);
  padding: 0px;
  margin: 0px;
  border: 1px solid #e2e5e6;
  height: 88px;
  position: relative;
  .logo-section {
    margin-top: 10px;
    img {
      margin: 0;
      position: absolute;
      top: 25%;
    }
  }
  .main-menu {
    float: left;
    ul {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 48%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      li {
        float: left;
        list-style: none;
        position: static;
        flex: none;
        height:88px;
        &.active{
          border-bottom: 4px solid $blackColor;
        }
        a {
          font-family: Mulish;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          color: #373f41;
          letter-spacing: 0.2px;
          text-decoration: none;
          cursor: pointer;
          margin: 0px 10px;
          display: flex;
          align-items: center;
          height:88px;
          line-height:88px;
          img {
            width: 18px;
            height: 18px;
            margin: 0px 5px;
          }
        }
      }
    }
  }
  .settings {
    ul {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 0%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      li {
        float: right;
        list-style: none;
        margin: 0px 10px;
        position: static;
        flex: none;
        align-items: center;

        img {
          .icon {
            width: 24px;
            height: 24px;
            left: 0px;
            right: 0px;
            margin-top: 0px;
          }
          .notification {
            width: 25px;
            height: 20px;
            margin-top: 20px;
          }
          .setting {
            left: 4.17%;
            right: 4.17%;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
