.header {
  background: rgba(255, 255, 255, 0.1);
  padding: 0px;
  margin: 0px;
  height: 88px;
  position: relative;
  .logo-section {
    img {
      margin: 0;
      position: absolute;
      padding-top: 20px;
    }
  }
  .main-menu {
    float: left;
    ul {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 48%;
      transform: translate(-50%, -50%);
      li {
        float: left;
        list-style: none;
        position: static;
        flex: none;
        height: 88px;
        &.active {
          border-bottom: 4px solid $blackColor;
        }
        a {
          font-family: Mulish;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          color: #373f41;
          letter-spacing: 0.2px;
          text-decoration: none;
          cursor: pointer;
          margin: 0px 10px;
          display: flex;
          align-items: center;
          height: 88px;
          line-height: 88px;
          img {
            width: 18px;
            height: 18px;
            margin: 0px 5px;
          }
        }
      }
    }
  }
  .settings {
    ul {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(-50%, -50%);
      li {
        float: right;
        list-style: none;
        padding: 0px 10px;
        position: static;
        flex: none;
        align-items: center;
      }
    }
  }
}
