.publisherUsers {
  background: $bodyHeader;
  font-family: Mulish;
  font-style: normal;
  .users-title {
    font-weight: bold;
    font-size: 32px;
    color: $blackColor;
    padding: 60px 0px;
  }
}
.users-section {
  font-family: Mulish;
  font-style: normal;
  .info {
    padding: 20px;
    ul {
      border-right: 1px solid $line;
      padding: 20px;
      li {
        list-style: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.3px;
        padding: 22px;
        text-align: start;
        a {
          color: $buttonGrey;
          text-decoration: none;
          .active {
            color: $whiteColor;
            background: $buttonGrey;
            width: 160px;
            height: 40px;
            border-radius: 32px;
            text-align: center;
            padding: 11px;
          }
        }
      }
    }
  }
  .users-table {
    table {
      width: 100%;
      tr {
        td {
          padding: 20px 0px 0px 10px;
          button {
            border-radius: 16px;
            border: none;
            background: $usersButton;
            color: $blackColor;
            width: 108px;
            height: 32px;
          }
        }
      }
    }
  }
}
