.publisherNumber {
  background: $bodyHeader;
  z-index: 12;
  position: relative;
  font-family: Mulish;
  font-style: normal;
  .number-title {
    font-weight: bold;
    font-size: 32px;
    align-items: center;
    color: $blackColor;
    letter-spacing: 0.2px;
    ul {
      li {
        list-style: none;
        float: left;
        margin: 50px 0px;
        button {
          color: $buttonGrey;
          font-size: 14px;
          border: 1px solid $buttonGrey;
          border-radius: 32px;
          height: 40px;
          width: 120px;
          background: $bodyHeader;
        }
      }
    }
  }
}
.publisher-menu {
  ul {
    li {
      margin-top: 98px;
      margin-bottom: 0px;
      float: left;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      list-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        color: $tasksMenu;
      }
      &.active {
        border-bottom: 4px solid $blackColor;
        border-radius: 2px;
        color: $blackColor;
      }
      span {
        background: #c5c5c5;
        padding: 2px;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        &.active {
          color: $blackColor;
          text-align:left;
        }
      }
    }
  }
}
.publisher-content {
  font-family: Mulish;
  font-style: normal;
  .article {
    margin-top: 30px;
    padding: 5px;
    ul {
      border-right: 1px solid $line;
      li {
        list-style: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $publisherMenu;
        text-align: start;
        padding: 10px;
        text-decoration: none;
        ul {
          border: 0px;
          padding: 2px;
          li {
            list-style: none;
            font-size: 12px;
            font-weight: normal;
            text-align: left;
          }
        }
        a {
          color: $publisherMenu;
          text-decoration: none;
          .active {
            color: $blackColor;
          }
        }
      }
    }
  }
  .number {
    margin: 68px 60px 48px 70px;
    background: $whiteColor;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 0px;
    img {
      padding: 10px;
    }
    h5 {
      font-weight: bold;
      padding: 16px;
      font-size: 32px;
    }
    h6 {
      font-size: 14px;
      padding: 16px;
    }
    form {
      padding: 30px;
      input,
      select
      {
        background: rgba(247, 247, 247, 0.75);
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        height: 48px;
      }
      .form-group {
        margin: 12px 0px;
      }
    }
  }
  .next {
    width: 638px;
    height: 76px;
    padding: 10px;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin: 30px 0px 90px 100px;
    ul {
      li {
        list-style: none;
        float: left;
        text-align: center;
        button {
          background: $blackColor;
          color: $whiteColor;
          box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.2);
          border-radius: 32px;
          margin: 8px;
          padding: 8px;
          border: 0px;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          &.clear{
            background:$whiteColor;
            color:$blackColor;
            border:1px solid $buttonGrey;
          }
        }
      }
    }
  }
}
