.publisherDemandEnd {
  background: $bodyHeader;
  z-index: 12;
  position: relative;
  font-family: Mulish;
  font-style: normal;
  .publisher-title {
    font-weight: bold;
    font-size: 32px;
    align-items: center;
    color: $blackColor;
    letter-spacing: 0.2px;
    ul {
      padding:60px 0px;
      li {
        list-style: none;
        float: left;
        button {
          color: $buttonGrey;
          font-size: 14px;
          border: 1px solid $buttonGrey;
          border-radius: 32px;
          height: 40px;
          width: 120px;
          background: $bodyHeader;
        }
      }
    }
  }
}
.publisher-menu {
  ul {
    li {
      margin-top: 98px;
      margin-bottom: 0px;
      float: left;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      list-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        color: $tasksMenu;
      }
      &.active {
        border-bottom: 4px solid $blackColor;
        border-radius: 2px;
        color: $blackColor;
      }
      span {
        background: $agencyPublisherSpan;
        padding: 2px;
        border-radius: 4px;
        &.active {
          color: $blackColor;
          text-align: left;
        }
      }
    }
  }
}
.publisher-content {
  font-family: Mulish;
  font-style: normal;
  .article {
    margin-top: 30px;
    padding: 5px;
    ul {
      border-right: 1px solid $line;
      li {
        list-style: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $publisherMenu;
        text-align: start;
        padding: 10px;
        text-decoration: none;
        ul {
          border: 0px;
          padding: 2px;
          li {
            list-style: none;
            font-size: 12px;
            font-weight: normal;
            text-align: left;
          }
        }
        a {
          color: $publisherMenu;
          text-decoration: none;
          .active {
            color: $blackColor;
          }
        }
      }
    }
  }
  .ends {
    margin: 60px;
    background: $whiteColor;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    border: 0px;
    h5 {
      font-weight: bold;
      padding: 16px;
      font-size: 32px;
    }
    h6 {
      font-size: 14px;
      padding: 16px;
    }
  }
  .end-buttons {
      padding:5px 15px;
    button {
      color: $buttonGrey;
      font-weight: bold;
      font-size: 14px;
      background-color: $whiteColor;
      border: 1px solid $buttonGrey;
      width: 180px;
      height: 40px;
      border-radius: 32px;
    }
  }
}
