$whiteColor:#ffffff;
$blackColor:#000000;
$greyColor:#d2d2d2;
$footerGrey:#E0E0E0;
$weightGreyColor:#cfcfcb;
$canvasColor:#382E47;
$filterButtonGrey:#737b7d;
$bodyHeader:#F8F8F8;
$demandBoxItems: #F3F3F3;
$demandBoxButton :#e9e9e9;
$tasksMenu:#A0A0A0;



@mixin borderRadius($borderval)
{
  -webkit-border-radius: $borderval;
  -moz-border-radius:$borderval ;
  border-radius:$borderval ;

}

@mixin borderRadiusAll($bordervaltop,$bordervalright,$bordervalbottom,$bordervalleft)
{
  -webkit-border-top-left-radius: $bordervaltop;
  -moz-border-top-left-radius:$bordervaltop ;
  border-top-left-radius:$bordervaltop ;

  -webkit-border-top-right-radius: $bordervalright;
  -moz-border-top-right-radius:$bordervalright ;
  border-top-right-radius:$bordervalright ;

  -webkit-border-bottom-right-radius: $bordervalbottom;
  -moz-border-bottom-right-radius:$bordervalbottom ;
  border-bottom-right-radius:$bordervalbottom ;

  -webkit-border-bottom-left-radius: $bordervalleft;
  -moz-border-bottom-left-radius:$bordervalleft ;
  border-bottom-left-radius:$bordervalleft ;

}

@mixin transition-method($time){
  transition: all $time ease-in;
  -moz-transition: all $time ease-in;
  -webkit-transition: all $time ease-in;
  -ms-transition: all $time ease-in;
}