
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .page{
    text-align: center;
    color:$blackColor;
    margin: 10px 0px;
  }
  .card{
    margin: 10px 0px;
  }
  .grey-layer{
    position:absolute;
    background: $greyLayer;
    width:100%;
    height:50vh;
  }