.tasks-page {
  background: $bodyHeader;
  z-index: 12;
  position: relative;
  font-family: Mulish;
  font-style: normal;
  .tasks-title {
    font-weight: bold;
    font-size: 32px;
    align-items: center;
    color: $blackColor;
    letter-spacing: 0.2px;
    padding: 60px 0px;
  }
  .tasks-menu {
    color: $tasksMenu;
    span {
      background: $agencyPublisherSpan;
      border-radius: 4px;
      &.active {
        color: $blackColor;
      }
    }
    ul {
      list-style: none;
      li {
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        &.active {
          border-bottom: 4px solid $blackColor;
          border-radius: 2px;
          color: $blackColor;
        }
      }
    }
  }
}
.tasks-section {
  font-family: Mulish;
  font-style: normal;
  .search-bar {
    input {
      height: 42px;
      width: 241px;
      border-radius: 96px;
      padding: 10px 20px;
      margin-top: 49px;
    }
    button {
      color: $buttonGrey;
      border-radius: 32px;
      border: 1px solid $buttonGrey;
      margin-top: 49px;
      width: 98px;
      height: 36px;
      background: $whiteColor;
    }
  }
  .filter-bar {
    background: $whiteColor;
    border: 1px solid #737b7d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin-bottom: 10px;
    ul {
      list-style: none;
      li {
        padding: 14px 8px 0px 8px;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        button {
          color: $buttonGrey;
          border-radius: 8px;
          border: 1px solid $buttonGrey;
          background: $whiteColor;
        }
      }
    }
  }
  .task-box {
    background: $bodyHeader;
    border-radius: 16px;
    letter-spacing: 0.2px;
    color: $blackColor;
    margin: 10px 0px 20px 0px;
    padding: 24px;
    &:hover {
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    }
    .task-box-article {
      padding: 20px 10px 5px 40px;
      a {
        font-weight: bold;
        font-size: 22px;
        color: $blackColor;
        text-decoration: none;
      }
    }
    .task-box-content {
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      padding: 5px 10px 0px 40px;
    }
    .task-box-items {
      background: $demandBoxItems;
      border: 1px solid $taskBoxItems;
      border-radius: 8px;
      padding: 24px;
      ul {
        li {
          list-style: none;
          justify-content: center;
          font-size: 14px;
          img {
            padding: 4px;
          }
        }
      }
    }
    .task-box-buttons {
      ul {
        li {
          float: left;
          list-style: none;
          margin: 5px;
          button {
            border-radius: 16px;
            border: 1px solid #737b7d;
            color: #737b7d;
            width: 98px;
            height: 36px;
            img {
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
  }
}
