.helpCenterDemands {
  background: $bodyHeader;
  z-index: 12;
  position: relative;
  flex-grow: 1;
  font-family: Mulish;
  font-style: normal;
  .writing-stage {
    border-radius: 16px;
    padding: 10px;
    margin-top: 50px;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.2px;
    color: $buttonGrey;
    background: $demandBoxButton;
    width: 140px;
    img {
      padding: 5px;
    }
  }
  .helpCenterDemands-title {
    font-weight: bold;
    font-size: 32px;
    color: $blackColor;
    height: 32px;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
    .alert-section {
      ul {
        li {
          list-style: none;
          float: left;
        }
      }
    }
  }
}
.helpCenterDemands-menu {
  font-family: Mulish;
  font-style: normal;
  ul {
    li {
      padding-top: 90px;
      font-weight: 600;
      font-size: 14px;
      list-style: none;
      text-align: center;
      a {
        text-decoration: none;
        color: $tasksMenu;
      }
      &.active {
        border-bottom: 4px solid $blackColor;
        border-radius: 2px;
        color: $blackColor;
      }
      span {
        background: #c5c5c5;
        padding: 2px;
        border-radius: 4px;
        &.active {
          color: $blackColor;
        }
      }
    }
  }
}
.helpCenterDemands-content {
  font-family: Mulish;
  font-style: normal;
  .article {
    margin: 10px 0px;
    padding: 38px 0px 0px 10px;
    ul {
      border-right: 1px solid $line;
      li {
        list-style: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $buttonGrey;
        text-align: start;
        padding: 22px;
        text-decoration: none;
        .brief {
          background: $buttonGrey;
          color: $whiteColor;
          width: 91px;
          height: 40px;
          border-radius: 32px;
          text-align: center;
          padding-top: 10px;
        }
      }
    }
  }
  .features {
    letter-spacing: 0.2px;
    .items {
      ul {
        padding: 38px;
        margin-top: 25px;
        li {
          background: $demandBoxButton;
          border-radius: 16px;
          list-style: none;
          float: left;
          width: 175px;
          height: 34px;
          font-size: 14px;
          color: $buttonGrey;
          margin: 5px;
          text-align: center;
          img {
            width: 16px;
            height: 26.6px;
            margin: 3px 5px 6px 6px;
          }
        }
      }
    }
  }
  .brief-text {
    h1 {
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      color: $blackColor;
      padding-top: 40px;
    }
    h3 {
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.2px;
      color: $blackColor;
      padding-top: 40px;
    }
    h6 {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: $buttonGrey;
      padding-top: 14px;
    }
    hr {
      width: 780px;
      height: 0px;
      border: 1px solid $line;
    }
    .tags {
      ul {
        float: left;
        li {
          float: left;
          list-style: none;
          margin: 4px;
          padding: 5px;
          button {
            background: $demandBoxButton;
            border-radius: 16px;
            border: 0px;
            width: 75px;
            height: 34px;
          }
        }
      }
    }
    .images {
      ul {
        display: grid;
        li {
          list-style: none;
          padding: 5px;
          float: left;
          color: $buttonGrey;
          img {
            width: 129px;
            height: 105px;
          }
        }
      }
    }
    .accept {
      width: 638px;
      height: 76px;
      padding: 8px;
      box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      align-items: center;
      margin: 120px 0px 40px 0px;
      button {
        background: $blackColor;
        color: $whiteColor;
        box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.2);
        border-radius: 32px;
        margin: 8px;
        padding: 8px;
        border: 0px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
