.writer-settings {
  background: $bodyHeader;
  font-family: Mulish;
  font-style: normal;
  .settings-title {
    font-weight: bold;
    font-size: 32px;
    color: $blackColor;
    padding: 60px 0px;
  }
}
.settings-section {
  margin-top: 70px;
  font-family: Mulish;
  font-style: normal;
  .info {
    ul {
      border-right: 1px solid $line;
      li {
        list-style: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.3px;
        padding: 22px;
        a {
          color: $buttonGrey;
          text-decoration: none;
          .active {
            color: $whiteColor;
            background: $buttonGrey;
            width: 160px;
            height: 40px;
            border-radius: 32px;
            text-align: center;
            padding: 11px;
          }
        }
      }
    }
  }
  .about {
    ul {
      li {
        list-style: none;
        padding: 15px 22px 15px 0px;
        font-size: 20px;
        color: $blackColor;
        font-weight: bold;
        button {
          border-radius: 16px;
          color: $buttonGrey;
          background: $whiteColor;
          font-size: 14px;
          border: 1px solid $buttonGrey;
          width: 80px;
          height: 34px;
        }
      }
    }
  }
  table {
    tr {
      td {
        padding: 20px 40px;
        color: $blackColor;
        font-weight: normal;
        font-size: 14px;
        &:first-child {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
